.advantages {
    padding: 70px 0;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.advantages__title {
    margin-bottom: 24px;
}

.advantages__subtitle {
    max-width: 634px;
    margin-left: auto;
    margin-right: auto;
}

.advantages__title, .advantages__subtitle {
    text-align: center;
    margin-bottom: 40px;
}

.advantages__item {
    border-radius: 4px;
    border: 1px solid #A1AEBF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.advantages__name {
    font-size: 28px;
    font-weight: 700;
}

.advantages__text {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .advantages__list {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
}