.form {
    background-color: var(--gray-color);
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    padding: 31px 60px;
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 33px;
    max-width: 100%;
}

.contact__title {
    width: fit-content;
    text-align: center;
    margin: 0 auto 30px;
}

.contact {
    padding: 40px 10px;
}

.form__input-wrapper {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    max-width: 100%;
}

.form__input-wrapper label {
    margin-left: auto;
    text-align: right;
}

.form__input-wrapper input {
    border-radius: 20px;
    border: none;
    text-indent: 10px;
}

.form__svg {
    /* margin-right: auto;
    margin-top: 10px;
    margin-left: 5px; */
    display: none;
}

.form__button {
    width: fit-content;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--main-color);
    outline: none;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    transition: all 0.2s ease-in;
}

.form__button:hover {
    color: #fff;
    border-color: #fff;
}


@media (max-width: 575px) {
    .form__input-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .form__input-wrapper label {
        margin-left: 0;
        text-align: center;
    }
}



/* MODAL */

.body {
    position: relative;
}

.thank {
    border: 2px solid var(--accent-color);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    background-color: var(--black-color);
    box-shadow: 0 0 10px var(--main-color);
    transform: translate(-50%, -50%);
    color: var(--main-color);
    z-index: 99;
    pointer-events: none;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.modal-active {
    animation: show 4s linear;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* MODAL end */


@media (max-width: 1000px) {
    .thank {
        font-size: 18px;
        width: 90%;
        height: 90%;
    }
}
@media (max-width: 575px) {
    .thank {
        font-size: 14px;
    }
}