@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

:root {
    --black-color: #15113a;
    --accent-color: #12d6e4;
    --alt-color: #19d5ff;
    --blue-color: #d018ec;
}

html {
    scroll-behavior: smooth;
    background-color: var(--black-color);
    color: #fff;
    font-family: 'Yantramanav', sans-serif;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 40px;
}

.subtitle {
    font-size: 16px;
    opacity: 0.6;
}