.footer {
    padding: 20px 0;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

@media (max-width: 575px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 20px;
    }
}