.hero {
    min-height: 100vh;
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    position: relative;
    padding-bottom: 40px;
}

.hero::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="520" height="536" viewBox="0 0 520 536" fill="none"><g filter="url(%23filter0_f_7_885)"><path d="M-426.36 478.333C-433.015 335.481 -109.378 -5.17132 -102.393 233.257C-95.4088 471.685 -55.6122 204.766 243.019 300.972C541.649 397.178 249.385 703.145 -8.4666 715.158C-266.318 727.171 -419.704 621.185 -426.36 478.333Z" fill="%23EF9364"/></g><defs><filter id="filter0_f_7_885" x="-576.461" y="0.861816" width="1095.59" height="865.225" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur_7_885"/></filter></defs></svg>');
    left: 0;
    bottom: 0;
    background-position: left bottom;
}


.hero::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="587" viewBox="0 0 400 587" fill="none"><g filter="url(%23filter0_f_7_886)"><path d="M502 107.861C502 257.485 352.209 597.753 354.029 348.224C355.848 98.695 332.803 375.723 203.025 260.634C73.2469 145.545 208.483 -160 322.494 -160C436.505 -160 502 -41.7619 502 107.861Z" fill="%238B7BCF"/></g><defs><filter id="filter0_f_7_886" x="0" y="-310" width="652" height="897" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur_7_886"/></filter></defs></svg>');
    right: 0;
    top: 0;
    background-position: right top;
}

.hero::before, .hero::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;   
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
}

.hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__title {
    padding-top: 99px;
    display: block;
    font-size: 96px;
    margin-bottom: 16px;
}

.hero__title span {
    background: var(--Gradient, linear-gradient(218deg, #9DE8EE 25.05%, #9DE8EE 25.05%, #FA7C0B 51.71%, #9F8CED 79.45%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__subtitle {
    max-width: 523px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero__button {
    padding: 12px 24px;
    background-color: var(--accent-color);
    border-radius: 1000px;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
    border: 1px solid transparent;
}

.hero__button:hover {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

@media (max-width: 420px) {
    .hero__title {
        font-size: 62px;
    }

    .hero__subtitle {
        max-width: 250px;
    }
}