.slide-top {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    margin-bottom: 24px;
}

.slide-img {
    width: 48px;
    height: 48px;
    background-color: #fff;
    grid-row: 1/-1;
    border-radius: 50%;
}

.slide-name {
    grid-row: 1/2;
    grid-column: 2/3;
}

.slide-nick {
    grid-row: 2/3;
    grid-column: 2/3;
}

.swiper-slide {
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #A1AEBF;
}
.swiper-button-prev {
    left: auto;
    right: 100px;
}

.swiper {
    padding: 150px 0 0;
}

.swiper-button-prev, .swiper-button-next {
    bottom: auto;
    top: 50px;
    padding: 30px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.swiper-button-prev::after, .swiper-button-next::after {
        font-size: 14px;
    font-weight: 700;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-color);
}

.people__title {
    position: absolute;
    left: 0;
    top: 10%;
}

@media (max-width: 800px) {
    .swiper-button-prev, .swiper-button-next {
        bottom: 0;
        top: auto;
        transform: translateX(50%);
        padding: 20px;
        border: 1px solid var(--accent-color);
        border-radius: 4px;
    }
    .swiper-button-prev {
        margin-right: 50px;
    }
    .swiper-button-next {
        transform: translateX(-50%);

    }
    .swiper {
        padding-bottom: 50px;   
    }
}