@import url(normalize.css);
@import url(default.css);
@import url(header.css);
@import url(hero.css);
@import url(users.css);
@import url(advantages.css);
@import url(why.css);
@import url(shop.css);
@import url(people.css);
@import url(footer.css);
@import url(other.css);
@import url(contact.css);