.users {
    padding: 70px 0;
    background-color: #000;
}

.users__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.users__subtitle {
    max-width: 634px;
    color: rgba(255, 255, 255, 0.60);
}

/* Marquee */


.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 63px;
    overflow-x: hidden;
    font-size: 42px;
    text-transform: uppercase;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 62s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.marquee span {
    display: inline-block;
    margin: 0 20px;
}

@media (max-width: 1200px) {
    .hero {
        padding-top: 120px;
    }
    .hero__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__img {
        max-width: 800px;
    }
    .hero__title, .hero__subtitle {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .users__text {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    .users__title br {
        display: none;
    }
}